$lime-original: #ecf832;
$lime: #cf0;
$brightBerry-original: #ec2832;
$brightBerry: #de2832;
$border: #080808;
$ojens: #ff9103;
$highlight: $lime;
$porple: #c683ff;
$body: white;
$accent: white;
$fg: $lime-original;
$bg: #000;

// sad blue
// $stripe-one: rgb(19, 13, 46);
// $stripe-two: #2b406b;

// blueish
$stripe-one: transparent;
$stripe-two: #fec50e;

// triangles
$c1: black;
$c2: black;

// square
$c3: white;
$guide: $lime;
