@use "flex";
@use "color" as color;
@use "media" as breakpoint;
@use "button";
@use "layer" as layer;

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fira-code), sans-serif;
  background: color.$body;
  color: color.$bg;
  position: relative;

  // height: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-obviously-narrow);
    text-transform: uppercase;
    margin: 0;
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.66rem;
  }

  h4 {
    font-size: 2.33rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.75rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

.Brekkland {
  @extend %flexCol;

  position: relative;

  &__header {
    display: flex;
    width: 100%;
    margin-top: -1rem;

    @media screen and (min-width: breakpoint.$medium) {
      margin-top: 0;
    }
  }
}
