@property --color-accent {
  syntax: "<color>";
  inherits: true;
  initial-value: #ecf832;
}

@property --color-fg {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}

@property --color-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --color-guide {
  syntax: "<color>";
  inherits: false;
  initial-value: #0f0;
}

:root {
  --color-accent: #ecf832;
  --color-fg: #000;
  --color-bg: #fff;
  --color-guide: #0f0;
}
