@property --color-accent {
  syntax: "<color>";
  inherits: true;
  initial-value: #ecf832;
}

@property --color-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}

@property --color-body {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --color-guide {
  syntax: "<color>";
  inherits: false;
  initial-value: #0f0;
}

:root {
  --color-accent: #ecf832;
  --color-bg: #000;
  --color-body: #fff;
  --color-guide: #0f0;
}



