.gradient-trisquare {
  --tri1: var(--color-fg);
  --tri2: var(--color-fg);
  --square: var(--color-bg);
  --size: max(5rem, 7vw);

  background-image:
    conic-gradient(
      from 15deg at 86.6%,
      var(--square) 25%,
      var(--tri2) 0 150deg,
      #0000 0
    ),
    conic-gradient(
      from -75deg at 50% 13.4%,
      var(--tri1) 60deg,
      var(--square) 0 150deg,
      var(--tri2) 0 210deg,
      #0000 0
    ),
    conic-gradient(
      from 15deg at 36.6% 63.4%,
      var(--tri1) 60deg,
      var(--square) 0 150deg,
      var(--tri1) 0 210deg,
      var(--tri2) 0 75%,
      var(--square) 0
    );
  background-size: var(--size) var(--size);

}

.gradient-tritrisquare {
--tri1: var(--color-fg);
    --tri2: var(--color-accent);
    --square: var(--color-bg);
    --size: max(4rem, 4vw);

  background-image:
    conic-gradient(
      from 15deg at 86.6%,
      var(--square) 25%,
      var(--tri2) 0 150deg,
      #0000 0
    ),
    conic-gradient(
      from -75deg at 50% 13.4%,
      var(--tri1) 60deg,
      var(--square) 0 150deg,
      var(--tri2) 0 210deg,
      #0000 0
    ),
    conic-gradient(
      from 15deg at 36.6% 63.4%,
      var(--tri1) 60deg,
      var(--square) 0 150deg,
      var(--tri1) 0 210deg,
      var(--tri2) 0 75%,
      var(--square) 0
    );
  background-size: var(--size) var(--size);
}

.gradient-techgrid {
  --s: 0.5rem;
  --c1: var(--color-accent);
  --c2: var(--color-fg);
  --_g: radial-gradient(calc(var(--s)/2), var(--c1) 97%, #0000);

  background:
    var(--_g),
    var(--_g) calc(2 * var(--s)) calc(2 * var(--s)),
    repeating-conic-gradient(from 45deg, #0000 0 25%, var(--c2) 0 50%)
      calc(-0.707 * var(--s)) calc(-0.707 * var(--s)),
    repeating-linear-gradient(
      135deg,
      var(--c1) calc(var(--s) / -2) calc(var(--s) / 2),
      var(--c2) 0 calc(2.328 * var(--s))
    );
  background-size: calc(4 * var(--s)) calc(4 * var(--s));
}

.gradient-static {
  background:
    repeating-radial-gradient(
        var(--color-fg) 0 0.0001%,
        var(--color-accent) 0 0.0002%
      )
      50% 0/150rem 150rem,
    repeating-conic-gradient(
        var(--color-fg) 0 0.0001%,
        var(--color-accent) 0 0.0002%
      )
      60% 60%/150rem 150rem;
  background-blend-mode: overlay;
}

.gradient-hex {
  --s: 1.5rem;
  --c1: var(--color-accent);
  --c2: var(--color-fg);
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));

  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.gradient-lattice {
  --s: 4rem; 
  --c1: var(--color-bg);
  --c2: var(--color-fg);
  --c3: var(--color-accent);
  --_g: 0 120deg,#0000 0;

  background:
    conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
    conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c2) var(--_g)),
    conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
    conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
    conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
    conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
    conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
  background-size: calc(var(--s)*sqrt(3)) var(--s);
}
