@use "../styles/_flex";
@use "../styles/_color" as color;

.Badge {
  @extend %flexRow;

  background-color: var(--color-fg);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: calc(100% - 1rem);
}
