---
import { ColorBoxFg } from "@/components/ColorBox.tsx"
import LogoBox from "@/components/LogoBox.astro"
import { SettingsPane } from "@/components/Settings"
import blem from "#/utilities/blem"
import Nav from "@/components/Nav.astro"
import FloatingNav from "@/components/FloatingNav.astro"
import SearchOverlay from "@/components/SearchOverlay.tsx"
import { colorFg, colorBg, colorAccent, palette } from "@/stores/colors"

const bem = blem("Brekkland")
import "@/styles/brekkland.scss"
import Guides from "@/components/Guides.astro"
import type { Breadcrumb } from "#/types/brekkland.ts"
interface Props {
  breadcrumbs?: Breadcrumb[]
}
const { breadcrumbs = [] } = Astro.props
---

<div id="brekkland" class={bem("")}>
  <SettingsPane transition:persist client:only="react" />
  <SearchOverlay transition:persist client:only="react" />
  <!--<LogoBox mods={["floating"]} />-->
  <!--<Guides />-->
  <header class={bem("header")}>
    <Nav />
  </header>
  <FloatingNav breadcrumbs={breadcrumbs} />
  <slot />
</div>

<script>
  import {
    pipe,
    addIndex,
    map,
    slice,
    pathOr,
    path,
    tap,
    prop,
    chain,
    props,
  } from "ramda"
  import colorable from "colorable"
  import type { CompactComparison, Accessibility } from "#/colorable.d.ts"
  import {
    getPalette,
    DEFAULT_PALETTE,
    DEFAULT_PALETTE_RECORD,
  } from "#/utilities/color"
  import { watchWithOptions } from "#/utilities/scroll"
  import { $fg, $bg, $accent, $palette, $modified } from "@/stores/colors"
  import { effect } from "nanostores"
  const bod = document.getElementById("body")
  const [el] = document.getElementsByClassName("FloatingNav")
  const [logoBox] = document.getElementsByClassName("LogoBox--nav")
  const [nav] = document.getElementsByClassName("Nav")
  const active = "active"
  const watchtower = () => {
    const rect = el.getBoundingClientRect()
    if (rect.y < 1) {
      el.classList.add(active)
      logoBox.classList.add(active)
    } else {
      el.classList.remove(active)
      logoBox.classList.remove(active)
    }
  }
  if (el && nav && bod && logoBox) {
    const go = watchWithOptions(
      { root: bod, rootMargin: "0px", threshold: 0 },
      ([main]) => {
        if (main.isIntersecting) {
          document.addEventListener("scroll", watchtower)
        } else {
          document.removeEventListener("scroll", watchtower)
        }
      },
    )
    go.observe(nav)
  }
  const DEFAULT_CONFIG = {
    colors: DEFAULT_PALETTE_RECORD,
    palette: DEFAULT_PALETTE,
    modified: false,
  }
  const config =
    JSON.parse(window.localStorage.getItem("brekkland") ?? "{}") ??
    DEFAULT_CONFIG

  const endColorStore = effect(
    [$fg, $bg, $accent, $modified, $palette],
    (fg, bg, accent, modified, palette) => {
      console.log("COLOR STORE", [fg, accent, bg])
    },
  )
</script>
