---
import blem from "#/utilities/blem"
import Nav from "@/components/Nav.astro"
import FloatingNav from "@/components/FloatingNav.astro"

const bem = blem("Brekkland")
import "@/styles/brekkland.scss"
import Guides from "@/components/Guides.astro"
---

<div id="brekkland" class={bem("")}>
  <!--<Guides />-->
  <header class={bem("header")}>
    <Nav />
  </header>
  <FloatingNav />
  <slot />
</div>
