---
import LogoBox from "@/components/LogoBox.astro"
import blem from "#/utilities/blem"
import Nav from "@/components/Nav.astro"
import FloatingNav from "@/components/FloatingNav.astro"

const bem = blem("Brekkland")
import "@/styles/brekkland.scss"
import Guides from "@/components/Guides.astro"
import type { Breadcrumb } from "#/types/brekkland.ts"
interface Props {
  breadcrumbs?: Breadcrumb[]
}
const { breadcrumbs = [] } = Astro.props
---

<div id="brekkland" class={bem("")}>
  <LogoBox mods={["floating"]} />
  <!--<Guides />-->
  <header class={bem("header")}>
    <Nav />
  </header>
  <FloatingNav breadcrumbs={breadcrumbs} />
  <slot />
</div>

<script>
  import { watchWithOptions } from "#/utilities/scroll"
  const bod = document.getElementById("body")
  const [el] = document.getElementsByClassName("FloatingNav")
  const [logoBox] = document.getElementsByClassName("LogoBox--floating")
  const [nav] = document.getElementsByClassName("Nav")
  console.log("nav", nav)
  console.log("el", el)
  const active = "active"
  const watchtower = (main: IntersectionObserverEntry) => (e: Event) => {
    const rect = el.getBoundingClientRect()
    if (rect.y < 1) {
      el.classList.add(active)
      logoBox.classList.add(active)
    } else {
      el.classList.remove(active)
      logoBox.classList.remove(active)
    }
  }
  if (el && nav && bod && logoBox) {
    const go = watchWithOptions(
      { root: bod, rootMargin: "0px", threshold: 0 },
      ([main]) => {
        console.log("pewpew", main)
        const watching = watchtower(main)
        if (main.isIntersecting) {
          document.addEventListener("scroll", watching)
        } else {
          document.removeEventListener("scroll", watching)
        }
      },
    )
    go.observe(nav)
  }
</script>
