---
import blem from "#/utilities/blem"
import Nav from "@/components/Nav.astro"

const bem = blem("Brekkland")
import "#/styles/brekkland.scss"
---

<div id="brekkland" class={bem("")}>
  <header class={bem("header")}>
    <Nav />
  </header>
  <slot />
</div>
