@use "../styles/_color" as color;
@use "../styles/_media" as breakpoint;
@use "../styles/_flex";

.FloatingNav {
  @extend %flexRow;

  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 var(--color-fg);
  width: 100%;
  padding: 0.25rem 0;
  position: sticky;
  background-color: var(--color-bg);
  overflow: hidden;

  // important to make sticky work in grid
  align-self: start;
  top: 0;

  // top: 14.75rem;
  z-index: 400;

  --logo-width: 8rem;

  &__logo {
    place-self: center center;
    height: 1rem;
    width: var(--logo-width);
  }

  &__content {
    @extend %flexRow;

    width: 100%;
    max-width: var(--width-b-medium-page-content-max, 90rem);
    justify-content: space-between;

    @media screen and (min-width: breakpoint.$large) {
      max-width: var(--width-b-large-page-content-max, 112rem);
    }
  }

  &__subcontent {
    @extend %flexRow;

    --subcontent-width: calc((100vw - var(--logo-width)) / 2);

    // the rest!
    width: var(--subcontent-width);

    .Search__search-icon {
      fill: var(--color-fg);
    }

    &--secondary {
      justify-content: flex-end;
    }
  }

  &__subcontent-wrapper {
    @extend %flexRow;

    width: 100%;

    &--secondary {
      // width: calc(25vw - 0.75rem);
      // width: 32vw;
      padding-right: 1rem;
      max-width: 24.5rem;
      justify-content: flex-end;

      // justify-content: flex-start;
    }
  }

  // opacity: 0.5;
  // background: lime;

  // svg {
  // fill: var(--color-accent);
  // }
  &__breadcrumb {
    @extend %flexCol;

    font-family: var(--font-obviously-narrow);
    text-transform: uppercase;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: transparent;
    color: var(--color-fg);
    padding: 0.25rem 0.5rem;
    transform: scaleY(0.0000001) translateY(-1rem);
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      transition:
        background 0.2s ease-out,
        color 0.2s ease-out,
        transform 0.2s ease-out;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background 0.2s ease-out,
      color 0.2s ease-out;
  }
}

.FloatingNav.active {
  background-color: var(--color-accent);

  .FloatingNav__breadcrumb {
    color: var(--color-fg);
    transform: scaleY(1) translateY(0);
    pointer-events: all;
  }

  .Search__search-icon {
    fill: var(--color-fg);
    width: 2rem;
    height: 2rem;
  }
}
