---
import blem from "#/utilities/blem"
import Nav from "@/components/Nav.astro"

const bem = blem("Gallery")
---

<div id="gallery" class={bem("")}>
  <header class={bem("header")}>
    <Nav />
  </header>
</div>
