@use "../styles/_flex";
@use "../styles/_color" as color;
@use "../styles/_media" as breakpoint;
@use "../styles/_layer" as layer;

.LogoBox {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 28rem;
  min-height: 3rem;
  padding-bottom: 1rem;

  &__logo {
    position: absolute;
    z-index: 4001;
    margin-top: 1rem;
    width: 100%;
    max-width: 28rem;
    fill: var(--color-fg);

    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        transform 0.3s ease-out,
        fill 0.1s ease-out;
    }

    &--swapped {
      transform: translateY(-1rem);
      fill: transparent;

      @media screen and (prefers-reduced-motion: no-preference) {
        transition:
          transform 0.3s ease-out,
          fill 0.1s ease-out;
      }
    }

    @media screen and (min-width: breakpoint.$small) {
      fill: transparent;

      &--swapped {
        fill: var(--color-fg);
      }

      @media screen and (prefers-reduced-motion: no-preference) {
        transform: translateY(1rem);

        &--swapped {
          transform: translateY(0);
        }
      }
    }
  }
}

.LogoBox {
  &--floating {
    min-height: 0;
    transform: scaleY(0.00001);

    // line-height: 0;
    z-index: 4000;
    position: sticky;
    top: -4rem;

    &__wrapper {
      position: relative;
    }

    .LogoBox__logo {
      top: 0.25rem;
      max-height: 2rem;

      @media screen and (min-width: breakpoint.$medium) {
        top: 1rem;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      transition:
        transform 0.2s ease-out,
        top 0.2s ease-out;
    }
  }
}

.LogoBox {
  &--nav {
    max-width: 12.5rem;
    min-height: 3.675rem;
    padding: 0;

    &__wrapper {
      position: relative;
      height: 100%;
      min-height: 3.675rem;
      padding: 0;
    }

    .LogoBox__logo {
      max-height: 2.25rem;
      opacity: 0;
      padding: 0;

      @media (prefers-reduced-motion: no-preference) {
        transition:
          opacity 0.2s ease-in,
          fill 0.2s ease-in,
          transform 0.2s ease-in,
          translate 0.2s ease-out,
          top 0.2s ease-out;
      }
    }

    &.active {
      .LogoBox__logo {
        opacity: 1;
      }
    }
  }
}

/*
// the golden rule
body {
  &::before {
    content: "";
    width: 1px;
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 0;
    z-index: 5000;
    background-color: lime;
  }
}

// */
