---
import { Image } from "astro:assets"
import blem from "#/utilities/blem"
import Search from "@/components/Nav/Search.tsx"
import { Rss, Home, BookX, LibraryBig } from "@lucide/astro"
import Logo from "@/assets/brekkland.svg"
import LogoSwapped from "@/assets/brekkland-swapped.svg"
import SpeechBubble from "@/assets/speech-bubble.svg"
const bem = blem("Nav")
const locations = Object.entries({
  UI: "/ui",
  Software: "/software",
  Art: "/art",
  Type: "/type",
})
---

<nav class={bem("")}>
  <div class={bem("menu")}>
    <div class={bem("logo-box")}>
      <Logo class={bem("logo")} />
      <LogoSwapped class={bem("logo", ["swapped"])} />
    </div>
    <div class={bem("locations")}>
      <ul class={bem("menu-list")}>
        {
          locations.map(([k, v]) => {
            const label = k.toLowerCase()
            const isHome = v == "/"
            const active = isHome ? "active" : "inactive"
            const mods = [active, label]
            return (
              <li class={bem("menu-item", mods)}>
                <a href={v} class={bem("link", mods)}>
                  <span class={bem("link-text")}>{k}</span>
                </a>
              </li>
            )
          })
        }
      </ul>
      <Search client:load />
    </div>
  </div>
</nav>
