---
import { SettingsToggle } from "@/components/Settings"
import "@/components/Nav.scss"
import blem from "#/utilities/blem"
import LogoBox from "@/components/LogoBox.astro"
import DesignConstants from "#/design/constants"
const bem = blem("Nav")
const locations = Object.entries(DesignConstants.locations.nav)
---

<nav class={bem("")}>
  <div class={bem("menu")}>
    <LogoBox />
    <div class={bem("locations")}>
      <ul class={bem("menu-list")}>
        {
          locations.map(([k, v]) => {
            const label = k.toLowerCase()
            const isHome = v == "/"
            const active = isHome ? "active" : "inactive"
            const mods = [active, label]
            return (
              <li class={bem("menu-item", mods)}>
                <a href={v} class={bem("link", mods)}>
                  <span class={bem("link-text")}>{k}</span>
                </a>
              </li>
            )
          })
        }
      </ul>
      <SettingsToggle client:only="react" />
    </div>
  </div>
</nav>
