@use "../../styles/_color" as color;
@use "../../styles/_flex";

.Project {
  display: grid;
  grid-template: "details content content" 1fr / 1fr 3fr;
  position: relative;
  width: 100%;

  // max-width: 80rem;
  margin: 0 auto;

  &__header {
    @extend %flexCol;

    align-items: flex-start;
  }

  &__heading-link {
    @extend %flexRow;

    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      height: 0.25rem;
      width: 1rem;
      background-color: color.$bg;
      position: absolute;
      left: -1rem;
    }

    &--size-1 {
      padding-left: 0;

      &::before {
        width: 0.75rem;
      }
    }

    &--size-2 {
      padding-left: 0.25rem;

      &::before {
        width: 1rem;
      }
    }

    &--size-3 {
      padding-left: 0.5rem;

      &::before {
        width: 1.25rem;
      }
    }

    &--size-4 {
      padding-left: 0.75rem;

      &::before {
        width: 1.5rem;
      }
    }

    &--size-5 {
      padding-left: 1rem;

      &::before {
        width: 1.75rem;
      }
    }

    &--size-6 {
      padding-left: 1.25rem;

      &::before {
        width: 2rem;
      }
    }
  }

  &__section {
    @extend %flexCol;

    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;

    &--content {
      grid-area: content;

      // order: 1;
      display: flex;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }

    &--details {
      grid-area: details;
      box-shadow: 1px 0 0 #000;

      // order: 2;
      position: sticky;

      // important to make sticky work in grid
      align-self: start;
      top: 0;
      min-height: calc(100vh - 2rem);
    }
  }

  &__headings-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
  }

  &__heading-list-item {
    @extend %flexRow;

    justify-content: flex-start;
  }

  &__badges {
    padding: 0;
    margin: 0;

    @extend %flexCol;

    width: 100%;
    gap: 0.5rem;
  }

  &__tags {
    list-style: none;
    padding: 0;
    margin: 0;

    @extend %flexRow;

    gap: 0.5rem;
  }

  &__row {
    @extend %flexCol;

    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }

  &__label {
    font-family: "BBH Bartle", sans-serif;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__slot {
    p {
      line-height: 1.75rem;
    }

    code {
      background: color.$bg;
      color: color.$fg;
      padding: 0.125rem 0.25rem;
    }

    pre {
      padding: 1rem;
      background: color.$bg !important;

      code {
        @extend %flexCol;

        align-items: flex-start;
        background: transparent;
        color: color.$fg;

        span.line {
          @extend %flexRow;

          align-items: flex-start;
          line-height: 1.75rem;
        }
      }
    }
  }
}
