@use "../../styles/_color" as color;
@use "../../styles/_flex";

.Project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__header {
    border: 1px solid color.$fg;
  }
  &__version {
    &::before {
      content: "Version";
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }
}
