@use "../styles/_flex";
@use "../styles/_media" as breakpoint;

%segment {
  // display: grid;
  // grid-template-areas: subgrid;
  @extend %flexCol;

  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background 0.3s ease-in,
      color 0.3s ease-in,
      box-shadow 0.2s ease-out;
  }
}

.ProjectCard {
  width: 100%;
  list-style: none;
  position: relative;
  margin-bottom: 0;

  &__title {
    font-family: var(--font-obviously-narrow);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    margin: 0;
  }

  &__description {
    margin: 1rem 0;
  }

  &__badge {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
    background-color: var(--color-bg);
    color: var(--color-body);

    @media (prefers-reduced-motion: no-preference) {
      transition:
        background 0.3s ease-out,
        color 0.1s ease-out;
    }
  }

  &__row {
    @extend %flexCol;

    align-items: flex-start;
    gap: 0.5rem;
    list-style: none;
    margin: 0.25rem;

    &--library,
    &--bin {
      flex-direction: row;
      align-items: center;
    }

    @media screen and (min-width: breakpoint.$small) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__link-wrapper {
    display: grid;
    grid-template-areas: "key details" "meta meta";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    text-decoration: none;
    color: var(--color-bg);

    &:hover {
      .ProjectCard__details,
      .ProjectCard__key {
        background-color: var(--color-fg);
        color: var(--color-bg);

        svg {
          fill: var(--color-bg) !important;
        }
      }

      .ProjectCard__details {
        box-shadow:
          0 1px 0 var(--color-bg),
          0 -1px 0 var(--color-bg),
          1px 0 0 var(--color-bg),
          -1px 0 0 var(--color-bg);
      }

      .ProjectCard__meta {
        background-color: var(--color-bg);
        color: var(--color-body);
      }

      .ProjectCard__badge--dependencies {
        background-color: var(--color-body);
        color: var(--color-bg);
      }
    }

    @media screen and (min-width: breakpoint.$small) {
      grid-template-areas: "key details" "meta details";
    }
  }

  &__key {
    @extend %segment;

    // flex-direction: column;
    grid-area: key;

    // background-color: red;
    box-shadow:
      -1px 0 0 var(--color-bg),
      0 -1px 0 var(--color-bg);
  }

  &__details {
    @extend %segment;

    grid-area: details;
    box-shadow:
      0 1px 0 var(--color-bg),
      1px 0 0 var(--color-bg),
      0 -1px 0 var(--color-bg);
    margin: 0;
  }

  &__meta {
    @extend %segment;

    flex-direction: row;
    align-items: center;
    grid-area: meta;
    background-color: var(--color-body);
    box-shadow:
      1px 0 0 var(--color-bg),
      -1px 0 0 var(--color-bg),
      0 1px 0 var(--color-bg);

    @media screen and (min-width: breakpoint.$small) {
      justify-content: flex-start;
      box-shadow:
        -1px 0 0 var(--color-bg),
        0 1px 0 var(--color-bg);
    }
  }
}

.ProjectCard {
  &__sugar {
    @extend %flexRow;

    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;

    svg {
      max-width: 2rem;
      fill: var(--color-bg);

      @media (prefers-reduced-motion: no-preference) {
        transition: fill 0.6s 0.1s linear;
      }
    }

    // so that we can keep our & target consistent
    .ProjectCard {
      &__link-wrapper {
        @extend %flexRow;

        gap: 0.5rem;
        transition: transform 0 ease-out;
        transform: translateX(-1rem);
        padding: 0.5rem;
        border-radius: 0.25rem;

        @media (prefers-reduced-motion: no-preference) {
          transition:
            transform 0.15s ease-out,
            background 0.15s ease-in;
        }
      }

      &__link--repo {
        @extend %flexRow;

        text-align: right;
        width: 100%;
        justify-content: flex-end;
        gap: 0.5rem;
        background-color: transparent;
        text-decoration: none;
        margin-top: 1px;
        color: var(--color-bg);
        transition:
          color 0 linear,
          background 0 ease-out;

        svg {
          max-height: 2rem;
          max-width: 2rem;
        }

        &:hover {
          .ProjectCard__link-wrapper {
            transform: translateX(0);
            background-color: var(--color-fg);
          }
        }

        @media (prefers-reduced-motion: no-preference) {
          transition:
            color 0.6s 0.1s linear,
            background 0.3s ease-out;
        }
      }

      &__sugar-label {
        font-family: var(--font-obviously-narrow);
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}
