@use "../styles/_flex";
@use "../styles/_media" as breakpoint;

%segment {
  // display: grid;
  // grid-template-areas: subgrid;
  @extend %flexCol;

  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background 0.3s ease-out,
      color 0.3s ease-in,
      box-shadow 0.2s ease-out;
  }
}

.ProjectCard {
  width: 100%;
  list-style: none;

  &__title {
    font-family: var(--font-obviously-narrow);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    margin: 0;
  }

  &__row {
    @extend %flexCol;

    align-items: flex-start;
    gap: 0.5rem;
    list-style: none;
    margin: 0.25rem;

    @media screen and (min-width: breakpoint.$small) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__link-wrapper {
    display: grid;
    grid-template-areas: "key details" "meta meta";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    text-decoration: none;
    color: var(--color-bg);

    &:hover {
      .ProjectCard__details,
      .ProjectCard__key {
        background-color: var(--color-fg);
        color: var(--color-bg);

        svg {
          fill: var(--color-bg) !important;
        }
      }

      .ProjectCard__meta {
        background-color: var(--color-bg);
        color: var(--color-body);
      }
    }
  }

  &__key {
    @extend %segment;

    // flex-direction: column;
    grid-area: key;

    // background-color: red;
    box-shadow:
      -1px 0 0 var(--color-bg),
      0 -1px 0 var(--color-bg);
  }

  &__details {
    @extend %segment;

    grid-area: details;
    box-shadow:
      1px 0 0 var(--color-bg),
      0 -1px 0 var(--color-bg);
    margin: 0;
  }

  &__meta {
    @extend %segment;

    grid-area: meta;
    background-color: var(--color-body);
    box-shadow:
      1px 0 0 var(--color-bg),
      -1px 0 0 var(--color-bg),
      0 1px 0 var(--color-bg);

    @media screen and (min-width: breakpoint.$small) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.ProjectCard {
  &__sugar {
    @extend %flexRow;

    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;

    svg {
      max-width: 2rem;

      @media (prefers-reduced-motion: no-preference) {
        transition: fill 0.6s 0.1s linear;
      }
    }

    .ProjectCard__link--repo {
      @extend %flexRow;

      text-align: right;
      height: 2rem;
      width: 2rem;

      svg {
        max-height: 2rem;
        max-width: 2rem;
      }

      &:hover {
        svg {
          fill: var(--color-fg);
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        transition: color 0.6s 0.1s linear;
      }
    }
  }
}
