@use "../../styles/_flex";
@use "../../styles/_color" as color;
@use "../../styles/media" as breakpoint;
@use "../../styles/button";
@use "../../styles/layer" as layer;

.Search {
  @extend %flexRow;

  gap: 0;
  border-radius: 1rem;
  overflow: hidden;
  background-color: transparent;

  &__search-icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 1rem;
    top: 0.35rem;
    left: 0.45rem;
  }

  &__search-wrapper {
    display: flex;
    cursor: pointer;
    position: relative;
    width: 2rem;
    height: 2rem;

    // border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0 0 0 white;
    flex-direction: row;
    transition:
      background 0.3s ease-out,
      width 0.3s 0.3s ease-out,
      filter 0.3s ease-out;

    // box-shadow: 0 0 0 white;

    &:focus-within,
    &--searching {
      cursor: text;
      width: 10rem;
      box-shadow: 0 0 8px white;
      background-color: white;
      z-index: 100;

      .nav__search-icon {
        filter: invert(100%);
      }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        background 0.3s ease-out,
        width 0.3s 0.3s ease-out,
        filter 0.3s ease-out;
    }
  }

  &__textfield {
    @extend %flexRow;

    // width: 100%;
    gap: 0;
    padding: 0 0.25rem;

    // outline: 1px solid cyan;
  }

  &__search-icon {
    fill: black;
    max-width: 1.25rem;
    max-height: 1.25rem;
  }

  &__global-search {
    cursor: pointer;
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    padding: 0 0.5rem 0 1.75rem;
    outline: 1px solid transparent;

    &::placeholder {
      opacity: 0;
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        width 0.3s ease-out,
        box-shadow 0.3s 0.3s ease-out,
        outline 0.3s 0.3s ease-out,
        background 0.3s 0.6s ease-out;
    }
  }

  &:where(:has(.Search__input:focus)) {
    .Search__input::placeholder {
      opacity: 1;
    }

    .Search__input {
      outline: 1px solid black;
    }

    background-color: color.$body;
    box-shadow:
      inset 0 0 1px color.$highlight,
      0 0 1px color.$highlight,
      0 0 5px color.$highlight;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.3s ease-out,
      background 0.3s ease-out;
  }
}
