@use "../styles/_flex";
@use "../styles/_color" as color;
@use "../styles/media" as breakpoint;
@use "../styles/layer" as layer;

.Search {
  @extend %flexRow;

  border: none;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
