@use "../styles/_flex";

.Settings {
  @extend %flexRow;

  position: relative;

  &__button {
    background: transparent;
    border: none;

    svg {
      stroke: var(--color-bg) !important;
    }
  }

  &__pane {
    @extend %flexCol;

    justify-content: center;
    width: 15rem;
    height: 4rem;
    position: fixed;
    background-color: transparent;
    left: calc(50% - 10rem);
    bottom: 0.5rem;
    z-index: 10000;
    opacity: 0;
    border-radius: 2rem;

    // backdrop-filter: blur(10px);
    pointer-events: none;
    background:
      repeating-radial-gradient(
          var(--color-bg) 0 0.0001%,
          var(--color-fg) 0 0.0002%
        )
        50% 0/150rem 150rem,
      repeating-conic-gradient(
          var(--color-bg) 0 0.0001%,
          var(--color-fg) 0 0.0002%
        )
        60% 60%/150rem 150rem;
    background-blend-mode: overlay;
    box-shadow:
      0.125rem 0 0 var(--color-body),
      -0.125rem 0 0 var(--color-body),
      0 -0.125rem 0 0 var(--color-body),
      0 0.125rem 0 0 var(--color-body),
      0.25rem 0 0 var(--color-bg),
      -0.25rem 0 0 var(--color-bg),
      0 -0.25rem 0 0 var(--color-bg),
      0 0.25rem 0 0 var(--color-bg);

    &--active {
      opacity: 1;
      pointer-events: auto;
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.23s ease-in;
    }
  }

  &__wrapper {
    @extend %flexRow;

    align-items: flex-start;
    position: absolute;
    z-index: 10001;
    background-color: transparent;
  }

  &__context-indicator {
    position: absolute;
    stroke: var(--color-bg) !important;
    left: -3rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
  }
}
