@use "../styles/_flex";
@use "../styles/_color" as color;

.Tag {
  @extend %flexRow;

  background-color: var(--color-bg);
  color: var(--color-accent);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
  box-shadow: 0 0 0 transparent;

  &:hover {
    color: var(--color-bg);
    background-color: var(--color-accent);
    box-shadow:
      -1px 0 0 var(--color-bg),
      1px 0 0 var(--color-bg),
      0 -1px 0 var(--color-bg),
      0 1px 0 var(--color-bg);
  }

  &__text {
    @extend %flexRow;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background 0.3s ease-out,
      width 0.15s ease-in,
      height 0.15s ease-in,
      border-radius 0.3s ease-out,
      box-shadow 0.3s ease-out;
  }
}
