---
import GithubLogo from "#/public/svg/github-black.svg"
import Brekkland from "@/layouts/Brekkland.astro"
import Tags from "@/components/Tags.astro"
import "@/components/Projects.scss"
import { getCollection } from "astro:content"
const projects = await getCollection("projects")
import blem from "#/utilities/blem"
const bem = blem("Projects")
import MagicDate from "@/components/Date"
import ProjectCard from "@/components/ProjectCard.astro"
---

<Brekkland>
  <main class={bem("")}>
    <section class={bem("filter")}>
      <h1 class={bem("title")}>Software</h1>
    </section>
    <section class={bem("content")}>
      <ul class={bem("project-listing")}>
        {projects.map((p) => <ProjectCard {...p} />)}
      </ul>
    </section>
  </main>
</Brekkland>
