---
import Land from "@/components/Brekkland.astro"
import "@/styles/color.css"
import "@/styles/box.css"
import "@/styles/gradients.css"
import { Font } from "astro:assets"
import type { Breadcrumb } from "#/types/brekkland.ts"
interface Props {
  breadcrumbs?: Breadcrumb[]
}
const { breadcrumbs = [] } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <!--<link rel="preconnect" href="https://fonts.googleapis.com" />-->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->

    <Font cssVariable="--font-obviously-compressed" />
    <Font cssVariable="--font-obviously-narrow" />
    <Font cssVariable="--font-fira-code" />
    <!--<link-->
    <!--  rel="stylesheet"-->
    <!--  href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=BBH+Bartle&family=Fira+Code"-->
    <!--/>-->
    <title>Brekkland</title>
  </head>
  <body id="body">
    <Land breadcrumbs={breadcrumbs}>
      <slot />
    </Land>
  </body>
</html>

<!-- style>
  body::before {
    content: "";
    width: 1px;
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 0;
    z-index: 5000;
    background-color: gold;
    opacity: 0.6;
  }
</style -->
