---
import Land from "@/components/Brekkland.astro"
import "@/styles/color.css"
import "@/styles/box.css"
import "@/styles/gradients.css"
import "@/components/Badge.scss"
import "@/components/ColorBox.scss"
import "@/components/FloatingNav.scss"
import "@/components/GradientBox.scss"
import "@/components/LogoBox.scss"
import "@/components/Nav.scss"
import "@/components/Project.scss"
import "@/components/ProjectCard.scss"
import "@/components/Projects.scss"
import "@/components/Search.scss"
import "@/components/SearchOverlay.scss"
import "@/components/Settings.scss"
import "@/components/Tag.scss"
import "@/components/Tags.scss"

import { Font } from "astro:assets"
import type { Breadcrumb } from "#/types/brekkland.ts"
interface Props {
  breadcrumbs?: Breadcrumb[]
}
const { breadcrumbs = [] } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0"
    />
    <link rel="icon" type="image/svg+xml" href="/brekkland/favicon.svg" />
    <link rel="icon" href="/brekkland/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <!--<link rel="preconnect" href="https://fonts.googleapis.com" />-->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->

    <Font cssVariable="--font-obviously-compressed" />
    <Font cssVariable="--font-obviously-narrow" />
    <Font cssVariable="--font-fira-code" />
    <!--<link-->
    <!--  rel="stylesheet"-->
    <!--  href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=BBH+Bartle&family=Fira+Code"-->
    <!--/>-->
    <title>Brekkland</title>
  </head>
  <body id="body">
    <Land breadcrumbs={breadcrumbs}>
      <slot />
    </Land>
  </body>
</html>

<script>
  import { $bg, $fg, $accent } from "@/stores/colors"
  import { effect } from "nanostores"
  const stop = effect([$bg, $fg, $accent], (b, f, a) => {
    const [html] = document.getElementsByTagName("html")
    const body = document.getElementById("body")
    html?.style.setProperty("--color-bg", b)
    html?.style.setProperty("--color-fg", f)
    html?.style.setProperty("--color-accent", a)
    body?.style.setProperty("--color-bg", b)
    body?.style.setProperty("--color-fg", f)
    body?.style.setProperty("--color-accent", a)
  })
  stop()
</script>
