---
import Land from "@/components/Brekkland.astro"
import { Font } from "astro:assets"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <Font cssVariable="--font-irregardless" />
    <Font cssVariable="--font-obviously-compressed" />
    <Font cssVariable="--font-obviously-narrow" />
    <Font cssVariable="--font-fira-code" />
    <!--<link-->
    <!--  rel="stylesheet"-->
    <!--  href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=BBH+Bartle&family=Fira+Code"-->
    <!--/>-->
    <title>Brekkland</title>
  </head>
  <body id="body">
    <Land>
      <slot />
    </Land>
  </body>
</html>
