$lime: #ecf832;
$border: #080808;
$highlight: #ec2832;
$fg: #fff;
$bg: #000;

// sad blue
// $stripe-one: rgb(19, 13, 46);
// $stripe-two: #2b406b;

// blueish
$stripe-one: transparent;
$stripe-two: #fec50e;
