$lime: #ecf832;
$border: #080808;
$highlight: #ec2832;
$fg: #fff;
$bg: #000;

// sad blue
// $stripe-one: rgb(19, 13, 46);
// $stripe-two: #2b406b;

// blueish
$stripe-one: transparent;
$stripe-two: #fec50e;

// triangles
$c1: black;
$c2: black;
// square
$c3: white;

$blHeaderTriangle: black;
$blHeaderTriangle2: black;
$blHeaderSquare: white;

$blHeaderTriangle_b: #f0c;
$blHeaderTriangle2_b: #0cf;
$blHeaderSquare_b: #ff0;

$blHeaderTriangle_c: white;
$blHeaderTriangle2_c: white;
$blHeaderSquare_c: black;

$blHeaderTriangle_d: #ff0;
$blHeaderTriangle2_d: #f0c;
$blHeaderSquare_d: #0cf;

$blHeaderTriangle_e: white;
$blHeaderTriangle2_e: white;
$blHeaderSquare_e: black;

$blHeaderTriangle_f: #0cf;
$blHeaderTriangle2_f: #ff0;
$blHeaderSquare_f: #f0c;
