%flexCentered {
  align-items: center;
  justify-content: center;
}

%flexRow {
  @extend %flexCentered;
  display: flex;
  flex-direction: row;
}
%flexCol {
  @extend %flexCentered;
  display: flex;
  flex-direction: column;
}
