$stratosphere: 1000;
$atmosphere: 900;
$clouds: 800;
$city: 700;
$house: 600;
$room: 500;
$table: 400;
$paper: 300;
$box: 200;
$here: 100;
$l90: 90;
$l80: 80;
$l70: 70;
$l60: 60;
$l50: 50;
$notice: 40;
$nav: 30;
$user: 29;
