@use "flex";
@use "color" as color;
@use "media" as breakpoint;
@use "button";
@use "layer" as layer;

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fira-code), sans-serif;
  background: color.$body;
  color: color.$bg;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}
