@use "flex";
@use "color" as color;
@use "media" as breakpoint;
@use "button";
@use "layer" as layer;

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cal Sans", sans-serif;
}

.grid {
  background-image:
    top left
      repeating-linear-gradient(
        to left,
        rgb(cyan, 0.2) 0,
        rgb(cyan, 0.2) 1px,
        transparent 1px,
        transparent 1rem
      ),
    repeating-linear-gradient(
      to bottom,
      rgb(cyan, 0.2) 0,
      rgb(cyan, 0.2) 1px,
      transparent 1px,
      transparent 1rem
    );
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes zoomDown {
  from {
    transform: translate3d(0, 500%, 0) scale3d(2, 2, 2);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: 1;
  }
}

$navHeight: max(22vh, 24rem);

.Gallery {
  width: 100%;
  height: $navHeight;

  &__header {
  }
}

@mixin cssGrid(
  $a: color.$stripe-one,
  $b: color.$stripe-two,
  $gridSize: 1.2rem,
  $gridLineSize: 1px,
  $rotA: 0deg,
  $rotB: 90deg
) {
  background-image:
    repeating-linear-gradient(
      $rotA,
      $a 0 calc($gridSize - $gridLineSize),
      $b calc($gridSize - $gridLineSize) $gridSize
    ),
    repeating-linear-gradient(
      $rotB,
      $a 0 calc($gridSize - $gridLineSize),
      $b calc($gridSize - $gridLineSize) $gridSize
    );
}

@mixin trisquare(
  $tri1: color.$c1,
  $tri2: color.$c2,
  $square: color.$c3,
  $size: max(7vw, 7vh)
) {
  background-image:
    conic-gradient(from 15deg at 86.6%, $square 25%, $tri2 0 150deg, #0000 0),
    conic-gradient(
      from -75deg at 50% 13.39%,
      $tri1 60deg,
      $square 0 150deg,
      $tri2 0 210deg,
      #0000 0
    ),
    conic-gradient(
      from 15deg at 36.6% 63.4%,
      $tri1 60deg,
      $square 0 150deg,
      $tri1 0 210deg,
      $tri2 0 75%,
      $square 0
    );
  background-size: $size $size;
}

@keyframes brekkLikeBrekkfast {
  0%,
  100% {
    --blHeaderTriangle: #{color.$blHeaderTriangle};
    --blHeaderTriangle2: #{color.$blHeaderTriangle2};
    --blHeaderSquare: #{color.$blHeaderSquare};
  }
  50% {
    --blHeaderTriangle: #{color.$blHeaderTriangle_b};
    --blHeaderTriangle2: #{color.$blHeaderTriangle2_b};
    --blHeaderSquare: #{color.$blHeaderSquare_b};
  }
}

@property --blHeaderTriangle {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}
@property --blHeaderTriangle2 {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}
@property --blHeaderSquare {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

.Nav {
  @extend %flexCol;
  --blHeaderTriangle: color.$bg;
  --blHeaderTriangle2: color.$bg;
  --blHeaderSquare: color.$fg;
  --blHeaderSize: max(5vw, 5vh);
  position: relative;

  // max-width: 40rem;
  width: 100%;
  overflow: hidden;
  z-index: layer.$user;

  --accent: ;

  // height: $navHeight;
  // padding: 1rem 1rem 0;
  font-family: "BBH Bartle", sans-serif;
  font-size: 1rem;
  --s: 5vw;
  --c1: black;
  --c2: white;

  --d1: yellow;
  --d2: magenta;
  
  --_g: 
    #0000 calc(-650%/13) calc(50%/13),var(--c1) 0 calc(100%/13),
    #0000 0 calc(150%/13),var(--c1) 0 calc(200%/13),
    #0000 0 calc(250%/13),var(--c1) 0 calc(300%/13);
  --_g0: repeating-linear-gradient( 45deg,var(--_g));
  --_g1: repeating-linear-gradient(-45deg,var(--_g));
  background:
    var(--_g0),var(--_g0) var(--s) var(--s),
    var(--_g1),var(--_g1) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
  /*
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
  background-image:
    conic-gradient(
      from 15deg at 86.6%,
      var(--blHeaderSquare) 25%,
      var(--blHeaderTriangle2) 0 150deg,
      #0000 0
    ),
    conic-gradient(
      from -75deg at 50% 13.39%,
      var(--blHeaderTriangle) 60deg,
      var(--blHeaderSquare) 0 150deg,
      var(--blHeaderTriangle2) 0 210deg,
      #0000 0
    ),
    conic-gradient(
      from 15deg at 36.6% 63.4%,
      var(--blHeaderTriangle) 60deg,
      var(--blHeaderSquare) 0 150deg,
      var(--blHeaderTriangle) 0 210deg,
      var(--blHeaderTriangle2) 0 75%,
      var(--blHeaderSquare) 0
    );

  background-size: var(--blHeaderSize) var(--blHeaderSize);
  */
  // animation-play-state: paused;
  &:hover {
    // animation-play-state: running;
  }
  // @include cssGrid(
  //   $b: color.$fg,
  //   $gridSize: 1.8vw,
  //   $rotA: 30deg,
  //   $rotB: 100deg
  // );

  &__logo-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 28rem;
    min-height: 4rem;
    padding-bottom: 1rem;

    @media screen and (min-width: breakpoint.$medium) {
      padding-bottom: 0;
    }
  }

  &__logo {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    max-width: 28rem;
    fill: black;

    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        transform 0.3s ease-out,
        fill 0.1s ease-out;
    }

    &--swapped {
      transform: translateY(-1rem);
      fill: transparent;

      @media screen and (prefers-reduced-motion: no-preference) {
        transition:
          transform 0.3s ease-out,
          fill 0.1s ease-out;
      }
    }

    @media screen and (min-width: breakpoint.$small) {
      fill: transparent;

      &--swapped {
        fill: black;
      }

      @media screen and (prefers-reduced-motion: no-preference) {
        transform: translateY(1rem);
        &--swapped {
          transform: translateY(0);
        }
      }
    }

    @media screen and (min-width: breakpoint.$medium) {
      margin-top: 0;
    }
  }
  &__locations {
    @extend %flexRow;
  }
  &__background {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;

    @media screen and (min-width: breakpoint.$small) {
      top: 0;
      width: 100%;
      height: auto;
    }

    // mix-blend-mode: difference;
    // mix-blend-mode: hard-light;
    // mix-blend-mode: luminosity;
  }

  &__menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
    font-size: 1.25rem;

    @media screen and (min-width: breakpoint.$tiny) {
      display: flex;
      flex-direction: row;

      // grid-template-columns: repeat(4, 1fr);
      // grid-auto-rows: minmax(1rem, auto);
      max-width: 28rem;
      font-size: 1rem;
    }
  }

  &__menu-item {
    @extend %flexRow;

    position: relative;
    list-style: none;
  }

  &__link-icon {
    transform: translate3d(0, 500%, 0) scale3d(2, 2, 2);

    @media screen and (prefers-reduced-motion: no-preference) {
      transition: transform 0.4s ease-in-out;
    }
  }
  &__speech-bubble {
    fill: color.$fg;
    max-width: 5rem;
  }

  &__link {
    @extend %button;

    color: color.$bg;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: 0.25rem;

    text-decoration: none;
    overflow: hidden;

    &-text {
      display: block;
      position: relative;
    }

    &::before {
      background: color.$fg;
      width: 120%;
      padding-bottom: 120%;
      top: -110%;
      left: -10%;
      border-radius: 100%;
      transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    }

    &--home {
      &::before {
        display: none;
      }
    }

    &::after {
      @media screen and (prefers-reduced-motion: no-preference) {
        transform: translate3d(0, 100%, 0);
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
      }
    }

    &:hover,
    &--active {
      .Nav__link-text {
        animation:
          MoveScaleUpInitial 0.3s forwards,
          MoveScaleUpEnd 0.3s forwards 0.3s;
      }

      .Nav__link-icon {
        animation: zoomDown 0.3s forwards 0.3s;
      }

      @media screen and (prefers-reduced-motion: no-preference) {
        &::before {
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
          transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
        }

        &::after {
          transform: translate3d(0, 0, 0);
          transition-duration: 0.05s;
          transition-delay: 0.4s;
          transition-timing-function: linear;
        }
      }
    }

    @media screen and (min-width: breakpoint.$tiny) {
      width: auto;
      padding: 0.5rem;
    }
  }

  &__menu {
    @extend %flexCol;

    justify-content: space-around;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    padding: 0 1rem 1rem;
    background-color: color.$fg;
    z-index: layer.$user;
    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        margin 0.45s ease-out,
        padding 0.3s ease-in,
        width 0.25s ease-in-out;
    }
    @media screen and (min-width: breakpoint.$medium) {
      margin-bottom: 4rem;
      padding: 1rem;
      width: min(45%, 30rem);
      max-width: 50rem;
    }
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    transition:
      background 1s ease-out,
      background-size 1s ease-out,
      --blHeaderTriangle 0.15s ease-in,
      --blHeaderTriangle2 0.3s ease-in,
      --blHeaderSquare 0.6s ease-in;
  }
  @media screen and (min-width: breakpoint.$medium) {
    /*
    &:hover {
      --blHeaderTriangle: #{color.$blHeaderTriangle_b};
      --blHeaderTriangle2: #{color.$blHeaderTriangle2_b};
      --blHeaderSquare: #{color.$blHeaderSquare_b};
      @media screen and (prefers-reduced-motion: no-preference) {
        background-size: 7vw 7vw;
      }
    }
    */
  }
}

.Search {
  @extend %flexRow;

  gap: 0;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 1px color.$border;
  overflow: hidden;
  background-color: transparent;

  width: 100%;

  &__search-wrapper {
    cursor: pointer;
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    // background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-shadow: 0 0 0 white;
    display: flex;
    flex-direction: row;

    &:focus-within,
    &--searching {
      cursor: text;
      width: 10rem;
      box-shadow: 0 0 8px white;
      background-color: white;
      z-index: 100;
      .nav__search-icon {
        filter: invert(100%);
      }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        background 0.3s ease-out,
        width 0.3s 0.3s ease-out,
        filter 0.3s ease-out;
    }
  }

  &__textfield {
    @extend %flexRow;

    // width: 100%;
    gap: 0;
    padding: 0 0.25rem;

    // outline: 1px solid cyan;
  }
  &__search-icon {
    fill: black;
    max-width: 1.25rem;
    max-height: 1.25rem;
  }

  &__input {
    // background-color: color.$fg;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0.25rem;
    @media screen and (prefers-reduced-motion: no-preference) {
      transition: background 0.3s ease-out;
    }

    // width: 100%;
  }

  &:where(:has(.Search__input:focus)) {
    background-color: color.$fg;
    box-shadow:
      inset 0 0 1px color.$highlight,
      0 0 1px color.$highlight,
      0 0 5px color.$highlight;
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.3s ease-out,
      background 0.3s ease-out;
  }
}
